@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato;
}

body {
  background: linear-gradient(#ffffff03, #00020fcd), url(images/darkbg.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero {
  width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px;
}
.navbar-links li {
  display: inline-block;
  list-style: none;
}
.navbar-links li a {
  color: #fff;
  text-decoration: none;
  margin-left: 50px;
  letter-spacing: 0.5px;
  font-size: 16px;
  cursor: pointer;
}
.navbar-links li a:hover {
  background: linear-gradient(45deg, #ef571a, #b11804);
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.5s;
}
.hamburger-btn {
  display: none;
  font-size: 30px;
  float: right;
  margin-left: 30px;
}

.logo {
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  font-size: 30px;
}
span {
  color: #ef571a;
}
.btn {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(45deg, #ef571a, #b11804);
  border-radius: 25px;
  border-top-left-radius: 0px;
  transition: 0.5s;
}
.btn:hover {
  border-top-left-radius: 25px;
  color: #ffff;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex-basis: 50%;
  min-width: 400px;
  margin-bottom: 20px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 400px;
}

.content {
  color: #ffff;
  margin-top: 30%;
  justify-content: space-between;
}
h3 {
  color: #ef571a;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 15px;
}
h1 {
  font-weight: 900;
  font-size: 70px;
  line-height: 35px;
  margin-bottom: 30px;
}
p {
  letter-spacing: 1.5px;
  line-height: 15px;
  margin-bottom: 20px;
}
.chef-img {
  width: 40%;
  bottom: 0;
  right: 8%;
  position: absolute;
  animation: move 2.5s linear infinite;
}
@keyframes move {
  0% {
    transform: translate(-20px, 0px);
  }
  50% {
    transform: translate(0px, -20px);
  }
  100% {
    transform: translate(-20px, 0px);
  }
}
.social-icons {
  margin-top: 30%;
}
.social-icons a {
  font-size: 25px;
  letter-spacing: 25px;
  color: #ef571a;
}
.social-icons a:hover {
  color: #fff;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
    line-height: 35px;
    padding-left: 20px;
  }
  h3 {
    font-size: 9px;
    letter-spacing: 10px;
    padding-left: 20px;
  }
  p {
    letter-spacing: 1.5px;
    line-height: 15px;
    font-size: 10px;
    padding-left: 20px;
  }
  .col-1,
  .col-2 {
    flex-direction: column;
    flex-basis: 50%;
  }
  .btn {
    margin-left: 20px;
  }
  .social-icons {
    display: none;
  }
  .navbar-links li a {
    display: none;
  }
  .chef-img {
    width: 80%;
    bottom: 0;
    left: 9%;
    position: absolute;
  }
  .hamburger-btn {
    display: inline;
    color: #fff;
  }
  .hamburger-btn:checked .navbar-links {
    height: 50vh;
    cursor: pointer;
    background: #b11804;
  }
}

@media screen and (max-width: 990px) {
  h1 {
    font-size: 40px;
    line-height: 20px;
  }
  h3 {
    font-size: 9px;
    letter-spacing: 10px;
  }
  p {
    letter-spacing: 1.5px;
    line-height: 15px;
    font-size: 10px;
  }
  .chef-img {
    width: 60%;
    bottom: 0;
    right: 0;
    position: absolute;
  }
}
